<ul class="post-list">
  <% page.posts.each(function(post){ %>
  <li class="post-list-child">
    <div class="post-list-left">
      <a href="/<%=post.path%>"><%= post.title %></a>
    </div>
    <span class="post-list-date">
      <%= post.date.format('YYYY-MM-DD') %>
    </span>
  </li>
  <% }) %>

  <div class="post-list-paginator">
    <!-- <%- page.total%> -->
    <% if (page.total > 1){ %>
      <%- paginator({
        prev_text: '←',
        next_text: '→'
      }) %>
    <% } %>
  </div>

</ul>